doctype html
head
  
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Utkarsh Singh </>
  link(rel='stylesheet' href='/static/files/style.css')
  link(rel="shortcut icon", href="/static/images/favicon.ico", type="image/x-icon")
  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-TBES1J44NG')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TBES1J44NG');


body(onload="preloader()")
  //- .preloader_parent
  //-   .preloader
  //-     .preloader__square
  //-     .preloader__square
  //-     .preloader__square
  //-     .preloader__square
  //-   .status
  //-     b Loading
  //-     span.status__dot .
  //-     span.status__dot .
  //-     span.status__dot .


  block header

  block content
  br
  br
  hr
  br
  br
  footer
    .cpyright
      p
        | &copy;Copyright 2022 || All Rights Reserved by 
        b Utkarsh Singh Solanki

script(src='/static/files/script.js')
